# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
AminoAcidFighter.pro.user
Makefile
Makefile.Debug
Makefile.Release
debug/
AminoAcidFighter
oclint-0.10.3-x86_64-linux-3.13.0-74-generic.tar.gz
oclint-0.10.3/
oclint.log
*.pro.user
temp
Alanine.png: >> .gitignore
echo Arginine.png:
Asparagine.png: >> .gitignore
echo AsparticAcid.png:
Bullet.png: >> .gitignore
echo Cysteine.png:
GlutamicAcid.png: >> .gitignore
echo Glutamine.png:
Glycine.png: >> .gitignore
echo Histidine.png:
Isoleucine.png: >> .gitignore
echo Leucine.png:
Lysine.png: >> .gitignore
echo Methionine.png:
Phenylalanine.png: >> .gitignore
echo Proline.png:
Serine.png: >> .gitignore
echo Threonine.png:
Tryptophan.png: >> .gitignore
echo Tyrosine.png:
Alanine.png
Arginine.png
Asparagine.png
AsparticAcid.png
Bullet.png
Cysteine.png
GlutamicAcid.png
Glutamine.png
Glycine.png
Histidine.png
Isoleucine.png
Leucine.png
Lysine.png
Methionine.png
Phenylalanine.png
Proline.png
Serine.png
Threonine.png
Tryptophan.png
Tyrosine.png
Valine.png
