# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
AminoAcidFighter.pro.user
Makefile
Makefile.Debug
Makefile.Release
debug/
AminoAcidFighter
oclint-0.10.3-x86_64-linux-3.13.0-74-generic.tar.gz
oclint-0.10.3/
oclint.log
*.pro.user
temp
